<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>

 <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style1.css') }}>
    <script type="text/javascript" src={{ url_for('static', filename='scripts/js.js') }}></script>
</head>
<body>


    <div class="box">
    <img src={{ url_for('static', filename='images/user.png') }} class="user">
        <h1>Login Here</h1>

        <form name="myform" method="POST" action="{{ url_for('login') }}">

            <p>Username</p>
            <input type="text" name="Name" placeholder="Enter Username">

            <p>Password</p>
            <input type="password" name="Pwd" placeholder="Enter Password">

             <div id="errorBox"></div>
            <input type="submit" name="" value="Login">

            <br><br>
            <a href={{ url_for('register_user') }}>Register for new account ?</a>

        </form>
        
    </div>

    

</body>
</html>